<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flapper News!</title>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components\angular-ui-router\release\angular-ui-router.min.js" charset="utf-8"></script>
  <script src="/javascripts/app.js"></script>
  <link rel="stylesheet" href="\bower_components\bootstrap\dist\css\bootstrap.min.css">
  <style>
    .glyphicon-thumbs-up {cursor: pointer; color: blue;}
    li{ padding: 5px;}
   </style>
</head>
<body ng-app="flappernews">
  <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{currentUser()}}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="page-header">
        <h1>Flapper News</h1>
      </div>
      <ui-view></ui-view>
    </div>

    <script type="text/ng-template" id="/register.html">

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="register()"
      style="margin-top:30px;">
      <h3>Register</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Username"
        ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Password"
        ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </script>

  <script type="text/ng-template" id="/login.html">

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="logIn()"
    style="margin-top:30px;">
    <h3>Log In</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
  </script>

  <script type="text/ng-template" id="/post.html">
    <h3>
      <a ng-show="post.link" href="{{post.link}}">{{post.title}}</a>
      <span ng-hide="post.link">{{post.title}}</span>
    </h3>
    <ul class="list-unstyled" ng-repeat="comment in post.comments | orderBy: '-upvotes'">
      <li><span ng-click="upvoteComment(comment)" class="glyphicon glyphicon-thumbs-up"></span>
        {{comment.upvotes}} - by {{comment.author}}:
        {{comment.body}}</li>
    </ul>
    <form ng-submit="addComment()">
      <div class="form-group">
        <input type="text" ng-model="body" class="form-control" placeholder="New comment" />
      </div>
      <button class="btn btn-block btn-primary">Add Comment</button>
    </form>
  </script>

  <script type="text/ng-template" id="/home.html">
    <h2 ng-hide="posts.length">No posts found.</h2>
    <ul  class="list-unstyled" ng-repeat="post in posts | orderBy: '-upvotes'">
      <li>
        <span class="glyphicon glyphicon-thumbs-up" ng-click="upVote(post)"></span>
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}}</a>
        <span ng-hide="post.link">{{post.title}}</span>
         - {{post.upvotes}} upvotes!</li>
         <span>
   <a href="#/posts/{{post._id}}">Comments</a>
 </span>
    </ul>
    <form ng-submit="addPost()">
      <h3>Add a new post</h3>
      <div class="form-group">
        <input type="text" class="form-control" ng-model="title" placeholder="Title" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" ng-model="link" placeholder="Link">
      </div>
      <button class="btn btn-block btn-primary">Post</button>
    </form>

  </script>
</body>
</html>
